[user]
	name = Yibin YANG
	email = rainforest.vista@gmail.com
	signingkey = 51CB2EA163FA83D7
[core]
	editor = vim
	excludesFile = ~/.gitignore_global
	pager = less
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[alias]
	graph = log --all --graph --decorate --oneline
	ctags = !.git/hooks/ctags
[init]
	templatedir = ~/.git_template
[commit]
	gpgsign = true
