[user]
	name = Yibin YANG
	email = rainforest.vista@gmail.com
[core]
	editor = vim
	excludesFile = /Users/rainforest/.gitignore_global
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[alias]
	graph = log --all --graph --decorate --oneline
